<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="logsnag" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Logsnag</label>
            <tab>service</tab>
            <resource>Sysentive_LogSnag::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API Settings</label>
                <field id="api_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <config_path>logsnag/api/token</config_path>
                </field>
                <field id="project" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Project</label>
                    <config_path>logsnag/api/project</config_path>
                </field>
            </group>
            <group id="events" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"  showInStore="0">
                <label>New Order Event</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"  showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>logsnag/new_order_event/enable</config_path>
                </field>
                <field id="channel" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"  showInStore="0">
                    <label>Channel</label>
                    <config_path>logsnag/new_order_event/channel</config_path>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                  <label>Order status trigger</label>
                  <tooltip>Order status on which module will log to LogSnag.</tooltip>
                  <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                  <config_path>logsnag/new_order_event/order_status_trigger</config_path>
                </field>
                <field id="event" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                  <label>Event</label>
                  <config_path>logsnag/new_order_event/event</config_path>
                </field>
                <field id="description" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                  <label>Description</label>
                  <tooltip>
                    <![CDATA[<p>Use the following placeholders:</p>
                    <p><strong>{{number}}</strong> - Order Increment ID</p>
                    <p><strong>{{total}}</strong> - Order Grand Total</p>
                    <p><strong>{{currency}}</strong> - Order Currency Symbol</p>
                    <p><strong>{{email}}</strong> - Customer Email</p>
                    <p><strong>{{shipping}}</strong> - Order Shipping Description</p>
                    ]]>
                  </tooltip>
                  <config_path>logsnag/new_order_event/description</config_path>
                </field>
                <field id="icon" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                  <label>Icon</label>
                  <config_path>logsnag/new_order_event/icon</config_path>
                  <backend_model>Sysentive\LogSnag\Model\Config\Backend\Icon</backend_model>
                  <validate>validate-length maximum-length-2</validate>
                </field>
                <field id="notify" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1"  showInStore="0">
                    <label>Notify</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>logsnag/new_order_event/notify</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
               
